
.ipynb_checkpoints/DS0103EN-2-2-1-From-Requirements-to-Collection-v2.0-checkpoint.ipynb
.ipynb_checkpoints/DS0103EN-1-1-1-From-Problem-to-Approach-v2.0-checkpoint.ipynb
DS0103EN-1-1-1-From-Problem-to-Approach-v2.0.ipynb
DS0103EN-2-2-1-From-Requirements-to-Collection-v2.0.ipynb
DS0103EN-3-3-1-From-Understanding-to-Preparation-v2.0.ipynb
DS0103EN-4-4-1-From-Modeling-to-Evaluation-v2.0.ipynb
ML0101EN-Clas-Logistic-Reg-churn-py-v1.ipynb
.ipynb_checkpoints/DS0103EN-3-3-1-From-Understanding-to-Preparation-v2.0-checkpoint.ipynb
.ipynb_checkpoints/DS0103EN-4-4-1-From-Modeling-to-Evaluation-v2.0-checkpoint.ipynb
.ipynb_checkpoints/ML0101EN-Clas-Logistic-Reg-churn-py-v1-checkpoint.ipynb
