
.ipynb_checkpoints/DS0103EN-2-2-1-From-Requirements-to-Collection-v2.0-checkpoint.ipynb
.ipynb_checkpoints/DS0103EN-1-1-1-From-Problem-to-Approach-v2.0-checkpoint.ipynb
DS0103EN-1-1-1-From-Problem-to-Approach-v2.0.ipynb
DS0103EN-2-2-1-From-Requirements-to-Collection-v2.0.ipynb
DS0103EN-3-3-1-From-Understanding-to-Preparation-v2.0.ipynb
DS0103EN-4-4-1-From-Modeling-to-Evaluation-v2.0.ipynb
ML0101EN-Clas-Logistic-Reg-churn-py-v1.ipynb
.ipynb_checkpoints/DS0103EN-3-3-1-From-Understanding-to-Preparation-v2.0-checkpoint.ipynb
.ipynb_checkpoints/DS0103EN-4-4-1-From-Modeling-to-Evaluation-v2.0-checkpoint.ipynb
.ipynb_checkpoints/ML0101EN-Clas-Logistic-Reg-churn-py-v1-checkpoint.ipynb
Resources/.ipynb_checkpoints/Coursera - Machine Learning Final-checkpoint.ipynb
Resources/.ipynb_checkpoints/DS0103EN-3-3-1-From-Understanding-to-Preparation-v2.0-checkpoint.ipynb
Resources/.ipynb_checkpoints/DS0103EN-4-4-1-From-Modeling-to-Evaluation-v2.0-checkpoint.ipynb
Resources/.ipynb_checkpoints/ML0101EN-Clas-Logistic-Reg-churn-py-v1-checkpoint.ipynb
Resources/Coursera - Machine Learning Final.ipynb
Resources/.ipynb_checkpoints/Python Course 1-checkpoint.ipynb
Resources/.ipynb_checkpoints/Python Course 2-checkpoint.ipynb
Resources/.ipynb_checkpoints/Python Course 3-checkpoint.ipynb
Resources/.ipynb_checkpoints/Python Course 4-checkpoint.ipynb
Resources/.ipynb_checkpoints/Python Course 5-checkpoint.ipynb
Resources/.ipynb_checkpoints/Python Course 6-checkpoint.ipynb
Resources/.ipynb_checkpoints/Python Course 7-checkpoint.ipynb
Resources/Python Course 1.ipynb
Resources/Python Course 2.ipynb
Resources/Python Course 3.ipynb
Resources/Python Course 4.ipynb
Resources/Python Course 5.ipynb
Resources/Python Course 6.ipynb
Resources/Python Course 7.ipynb
Resources/Python Course 8.ipynb
